@import "_variables.scss";

@mixin navbarFont {
  font-size: 1.2rem;
  font-weight: 900;
  color: $text-colour;
}

@mixin displayFlexColumn {
  display: flex;
  flex-direction: column;
}

@mixin displayFlexRow {
  display: flex;
  flex-direction: row;
}

@mixin verticalBorderStyle {
  border-left: 1px solid $text-colour;
  border-right: 1px solid $text-colour;
}


@mixin horizontalBorderStyle {
  border-top: 1px solid $text-colour;
  border-bottom: 1px solid $text-colour;
}
