.landing-centering-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px black;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(75, 170, 165, 0.59);
          box-shadow: 0px 0px 18px 1px rgba(75, 170, 165, 0.59);
  padding: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 800px;
  }
}

.header-image-div {
  width: 100%;
}

.header-image {
  width: 100%;
}

.brand-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
  height: 50%;
  background-color: #4baaa5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.large-D {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 5rem;
  color: black;
  font-size: 3rem;
  font-weight: 900;
  padding-left: 0;
  text-shadow: 1px 4px 1px #535353;
  font-size: 48px;
}

@media screen and (min-width: 360px) {
  .large-D {
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) {
  .large-D {
    font-size: 100px;
  }
}

.name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.7rem;
  margin: 0px;
  font-weight: 900;
  color: black;
}

.first-name,
.sur-name {
  margin: 0;
  font-size: 11.2px;
}

@media screen and (min-width: 360px) {
  .first-name,
  .sur-name {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .first-name,
  .sur-name {
    font-size: 26px;
  }
}

.menu {
  width: 100%;
  border-top: solid 3px #0b413b;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about,
.portfolio {
  margin-top: 0.2rem;
  margin-right: 0.8rem;
}

.intersection-observer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
}

.page-title {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 800;
}

.page-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  margin-top: 6vh;
  z-index: -100;
}

@media screen and (min-width: 768px) {
  .page-main-div {
    width: 800px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  margin-bottom: 5vh;
}

.contacts a {
  color: #4baaa5;
}

.avatar {
  margin-bottom: 5vh;
}

.page-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid black;
  border-right: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  padding-bottom: 5vh;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 5vw;
  margin-right: 5vw;
}

.page-title {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  margin-top: 6vh;
  z-index: -100;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .page-card {
    width: 800px;
  }
}

.project-title {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 2vh;
}

.project-text {
  width: 80%;
  text-align: center;
  color: black;
  font-size: 15px;
  font-weight: 700;
}

.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.project-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.deployed-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  text-align: center;
}

.img-description {
  color: #4baaa5;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.fa-github {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #4aaaa5;
  cursor: pointer;
}

.fa-linkedin {
  color: #4aaaa5;
}

.fa-file-pdf {
  color: #4aaaa5;
  font-size: 1.7rem;
  margin-left: 0.6rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: grey;
  background-image: url(../img/background/Background2BW4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-top: 6vh;
  z-index: -100;
}

@media screen and (min-width: 768px) {
  .page-main-div {
    width: 800px;
  }
}

.page-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  padding-bottom: 5vh;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 5vw;
  margin-right: 5vw;
}
/*# sourceMappingURL=style.css.map */